<h1 class="navbar-lewagon newCss" >index page</h1>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Save any kind of movies </h1>
    <p>Classic</p>
    <br>
    <a class="btn btn-primary" href="#">Create a movie list</a>
  </div>
</div>
